body { 
    margin: 0; 
    overflow: hidden; 
    font-family: Arial, sans-serif; 
    text-align: center;
    background-color: black;
}

#start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    z-index: 10;
}

#game-over-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    z-index: 10;
    display: none; /* Hide until game ends */
}



#game-container {
    display: none;
    width: 640px;
    height: 576px;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-image: url('./img/grass_land.png'); 
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
}

.player {
    width: 112px;
    height: 180px;
    image-rendering: pixelated;
    background-image: url('./img/jonah.png'); 
    position: absolute;
    background-size: cover; 
    background-position: center;
}

.arrow {
    width: 103px;
    height: 29px;
    position: absolute;
    background-image: url('./img/arrow.png'); 
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
}

.item {
    width: 60px;
    height: 60px;
    background-image: url('./img/bao.png'); 
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
    position: absolute;
}

#stats {
    color: white;
    margin-top: 10px;
    font-size: 20px;
}

#buttons {
    margin: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}
