body { 
    margin: 0; 
    overflow: hidden; 
    font-family: "Pixelify Sans", serif;
    text-align: center;
    background-color: black;
}

#start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    z-index: 10;
}

#game-over-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    z-index: 10;
    display: none; /* Hide until game ends */
}

#game-container {
    display: none;
    width: 640px;
    height: 576px;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-image: url('./img/grass_land.png'); 
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
}

.player {
    width: 112px;
    height: 180px;
    image-rendering: pixelated;
    background-image: url('./img/jonah.png'); 
    position: absolute;
    background-size: cover; 
    background-position: center;
}

.arrow {
    width: 103px;
    height: 29px;
    position: absolute;
    background-image: url('./img/arrow.png'); 
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
}

.item {
    width: 60px;
    height: 60px;
    background-image: url('./img/bao.png'); 
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
    position: absolute;
}

#stats {
    color: white;
    font-size: 30px;
    position: relative;
}

#buttons {
    margin: 10px;
}

button {
    font-family: "Pixelify Sans", serif;
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}


#second-game-screen {
    display: none;
    width: 640px;
    height: 576px;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-image: url('./img/cherry_blossom.png'); 

    background-size: cover; 
    background-position: center;
    image-rendering: pixelated; 
}

.portal {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url('./img/portal.png'); 
    position: absolute;
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.prince {
    display: none;
    width: 190px;
    height: 210px;
    background-image: url('./img/prince.png'); 
    position: absolute;
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
}

.dialog {
    display: none;
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

.dialog {
    display: none; /* Initially hidden */
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#dialog-text {
    color : black;
    font-size: 20px;
    margin-bottom: 10px;
}

#next-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#hit-count .heart {
    width: 25px; /* Adjust size as needed */
    height: 25px; /* Adjust size as needed */
    margin: 0 2px; /* Spacing between hearts */
    image-rendering: pixelated;
}

.bao{
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    image-rendering: pixelated;  
    margin-top: 10px;
}